.generated_files/
nbproject/
dist/default/production/Obligatorio-Arquitectura-UC32.production.elf
dist/default/production/Obligatorio-Arquitectura-UC32.production.hex
dist/default/production/Obligatorio-Arquitectura-UC32.production.hex
